
.schedule-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
}

.hour-button {
    padding: 3px 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hour-button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}

.hour-button.available {
    background-color: #4ea845;
    color: #fff;
}

.hour-button.unavailable {
    background-color: #E53935;
    color: #fff;
    cursor: not-allowed;
}

.hour-button.selected {
    background-color: #0473bc;
    color: #fff;
}

.hour-button.alreadybookedbyme {
    background-color: #FF9800;
    color: #000;
}