.home-container {
    padding: 2rem 5rem;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    gap: 20px;
}

.home-header h1{
    font-size: 3.8rem;
    font-weight: 700;
}

.home-header h2 {
    font-weight: 400;
}