.profile {
  padding: 2rem 5rem;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-header h1{
  font-size: 3.8rem;
  font-weight: 700;
}

.profile-header button {
  height: 45px;
  background-color: var(--main-red);
  color: white;
  padding: 0.5rem 1.4rem;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.profile-header button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease; 
}


.profile-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile-info li {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; 
}

.profile-info li span {
  background-color: var(--light-gray);
  padding: 10px; 
  font-size: 20px; 
  border-radius: 10px; 
  min-height: 45px;
}

.profile-info li > span {
  margin-top: 4px; 
}

.profile-info li:first-child {
  margin-top: 0; 
}
