
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
}

.modal h4 {
    margin: 0;
}

.modal-buttons {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: space-around;
}

.confirm-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.blue {
    background-color: var(--main-blue);
}

.red {
    background-color: var(--main-red);
}

.cancel-button {
    background-color: #ddd;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.cancel-button:hover {
    background-color: #bbb;
}

.error-message {
    color: red;
    font-size: 1.5rem;
    margin-top: 10px;
}

